
{# Рисуем Фото #}

{% macro render_photo(element) %}
    <div class="photo-wrap {{ element.css_class_pos }}" style="background-image:url('{{ element.object.url }}'); background-size: cover; background-position: center center;"></div>
    {% if element.object.date or element.object.title %}
        <div class="title {{ element.css_class_pos }}">
            <div>{{ element.object.date|date(('j E Y')) }}</div>
            {{ element.object.title }}
        </div>
    {% endif %}
{% endmacro %}

{# Рисуем Текст #}
{% macro render_text(element) %}
    <div class="text {{ element.css_class_pos }}">
        {% if element.object.month == None %}<div class="date">{{ element.object.date_vk|date('j E Y') }}</div>{% endif %}
        {{ element.object.text|linebreaksbr }}
    </div>
{% endmacro %}

{# Рисуем Рост #}
{% macro render_height(element) %}
    <div class="height {{ element.css_class_pos }}">
        <div class="height-icon"><i class="icon-chart-bar-1"></i></div>
        <div style="display: inline-block; text-align: center">
            <div class="height-date">{{ element.object.date|date('j E Y') }}</div>
            <div class="height-value">{{ element.object.height_str }}</div>
        </div>
    </div>
{% endmacro %}

{# Рисуем Вес #}
{% macro render_weight(element) %}
    <div class="weight {{ element.css_class_pos }}">
        <div class="weight-icon"><i class="icon-chart-bar-1"></i></div>
        <div style="display: inline-block; text-align: center">
            <div class="weight-date">{{ element.object.date|date('j E Y') }}</div>
            <div class="weight-value">{{ element.object.weight_str }}</div>
        </div>
    </div>
{% endmacro %}


<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% if baby %}{{ baby.first_name|capitalize }}. {% endif %}Первый Альбом{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/landscape.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Neucha|Comfortaa&display=swap" rel="stylesheet">
    <link href="/static/icons/css/iconpack_01.css" rel="stylesheet" />
    {% block css %}{% endblock %}
    {% endblock %}
</head>
<body>
{% if baby %}
    {% block select_album %}
    <div class="select-album-block" >
        <h2 style="color: #9d9d9d; font-family: Comfortaa">Выбери свой альбом</h2>
        {% for album_data in view.album_list %}
            <a class="select-album {% if album_data.pk == view.album_pk %}current{% endif %}" href="{{ album_data.link }}" style="background-size: cover; background-image: url('{{ album_data.background_url }}')">
                <div class="select-album-name">
                    <div class="select-album-name-label">
                        {{ album_data.name }}
                    </div>
                </div>
            </a>
        {% endfor %}
        <h4 style="color: #9d9d9d; font-family: Comfortaa">Печать альбома рекоммендавана из браузера
            <a class="color1" target="_blank" href="https://www.google.ru/intl/ru/chrome/">Google Chrome</a></h4>
        <h4><a class="print-btn" onclick="window.print()">Распечатать альбом</a></h4>
    </div>
    {% endblock %}
    {% block album %}
        <div class="album {% if baby.is_women %}women{% else %}men{% endif %}">
            {% block first_page %}
                <div class="page">
                    <div class="subpage home">
                            <div class="data">
                                <div class="font neucha" style="font-size: 1cm; color: #7c7c7c">{{ baby.birth_date|date('j E Y') }} года</div>
                                <div class="font neucha" style="font-size: 1cm; color: #7c7c7c">наконец {% if baby.is_women %}родилась{% else %}родился{% endif %}</div>
                                <div class="font neucha" style="font-size: 1cm; color: #7c7c7c">наш{% if baby.is_women %}а{% endif %}</div>
                                <div class="font neucha first_name color" style="font-size: 3cm;">{{ baby.first_name }}</div>
                                <div class="font neucha" style="font-size: 1cm; color: #7c7c7c">и</div>
                                <div class="font neucha" style="font-size: 1cm; color: #7c7c7c">это {% if baby.is_women %}её{% else %}его{% endif %}</div>
                                <div class="font neucha" style="font-size: 1cm; color: #7c7c7c">Первый Альбом</div>
                            </div>
                    </div>
                </div>
            {% endblock first_page %}

            {% for h in baby_history %}
                {% if h.page_list %}
                    <div class="page">
                        <div class="subpage">
                            <div class="month"><b>{% if h.delta.years or h.delta.months %}{{ h.text }}{% else %}Первые дни{% endif %}</b></div>
                        </div>
                        <div class="page-num-center">{{ view.page_num }}</div>
                        {{ view.page_num_add() }}
                    </div>
                    {% for page in h.page_list %}
                        <div class="page">
                            <div class="subpage">
                            {% for element in page %}
                                {% if element.object.is_photo %} {{ render_photo(element) }} {% endif %}
                                {% if element.object.is_text %} {{ render_text(element) }} {% endif %}
                                {% if element.object.height %} {{ render_height(element) }} {% endif %}
                                {% if element.object.weight %} {{ render_weight(element) }} {% endif %}
                            {% endfor %}
                            </div>
                            <div class="page-num-center">{{ view.page_num }}</div>
                            {{ view.page_num_add() }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}
{% else %}
    {% block not_baby %}
    {% endblock%}
{% endif %}
</body>
</html>

