<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Альбом</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/landscape.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Neucha&display=swap" rel="stylesheet">
    <link href="/static/icons/css/iconpack_01.css" rel="stylesheet" />
    <style>
        .page{
            background-image: url("/static/img/bg.jpg");
            background-position: right;
            outline: 0.5cm solid rgba(255, 255, 255, 0.8);
            outline-offset: -0.5cm;
        }
        .page:nth-child(2n){background-position: bottom}
        .page-num-center{
            color:#fff; font-weight: bold; font-size: 0.6cm;text-shadow: 0px 0px 2px #333;
        }
        .photo{

        }
        .photo-wrap{
            overflow: hidden;
            border: 5px dashed #fff; border-radius: 100%;
        }
        .text{
            font-family: 'Caveat', cursive; font-size: 0.7cm; color: #000;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 0.5cm; border-radius: 0.5cm; max-width: 12cm;
            min-width: 4cm;
        }
        .title{
            font-family: 'Caveat', cursive; font-size: 0.7cm; color: #000;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 0.2cm; border-radius: 0.5cm; max-width: 6cm;
        }

        .text.pos-left-bottom{border-radius: 0.5cm 0.5cm 0.5cm 0cm}
        .text.pos-left-top{border-radius: 0cm 0.5cm 0.5cm 0.5cm}
        .text.pos-right-top{border-radius: 0.5cm 0cm 0.5cm 0.5cm}
        .text.pos-right-bottom{border-radius: 0.5cm 0.5cm 0cm 0.5cm}

        .text.pos-left-bottom .date{position: absolute; font-size: 0.5cm; left: 0.5cm; bottom: -0.8cm; }
        .text.pos-left-top .date{position: absolute; font-size: 0.5cm; left: 0.5cm; top: -0.8cm; }
        .text.pos-right-top .date{position: absolute; font-size: 0.5cm; right: 0.5cm; top: -0.8cm; }
        .text.pos-right-bottom .date{position: absolute; font-size: 0.5cm; right: 0.5cm; bottom: -0.8cm; }

        .title.pos-left-bottom{position: absolute; font-size: 0.5cm; left: 9cm; bottom: 8.5cm; border-radius: 0.5cm 0.5cm 0.5cm 0cm; }
        .title.pos-left-top{position: absolute; font-size: 0.5cm; left: 9.5cm; top: 1.5cm;  border-radius: 0.5cm 0.5cm 0.5cm 0cm;}
        .title.pos-right-top{position: absolute; font-size: 0.5cm; right: 10.5cm; top: 5cm;  border-radius: 0.5cm 0cm 0.5cm 0.5cm; }
        .title.pos-right-bottom{position: absolute; font-size: 0.5cm; right: 10.5cm; bottom: 5cm; border-radius: 0.5cm 0.5cm 0cm 0.5cm;}

        .women .month, .women .height, .women .weight , .women .color{color: #c197ff;}
        .men .month, .men .height, .men .weight , .men .color{color: #55c6ff;}

        .text p{margin: 0px;}
        .month{
            font-family: 'Neucha', cursive; font-size: 5cm; letter-spacing: 0.2cm;
            text-align: center; padding-top: 5cm;
        }
        .height{font-family: 'Neucha', cursive; }
        .height .height-icon{font-size: 4cm;  display: inline-block;}
        .height .height-date{font-size: 0.8cm; margin-bottom: 0.5cm; display: block; vertical-align: text-bottom}
        .height .height-value{font-size: 1.5cm; display: inline-block; letter-spacing: 0.2cm}


        .weight{font-family: 'Neucha', cursive;}
        .weight .weight-icon{font-size: 4cm; display: inline-block;}
        .weight .weight-date{font-size: 0.8cm; margin-bottom: 0.5cm; display: block; vertical-align: text-bottom; }
        .weight .weight-value{font-size: 1.5cm; display: inline-block; vertical-align: text-bottom; }

        .height.pos-left-bottom, .weight.pos-left-bottom{bottom:3cm;}
        .height.pos-left-top, .weight.pos-left-top{top: 3cm;}
        .height.pos-right-top, .weight.pos-right-top{top: 3cm;}
        .height.pos-right-bottom, .weight.pos-right-bottom{bottom:3cm;}

        .caveat{font-family: 'Caveat', cursive;}
        .neucha{font-family: 'Neucha', cursive;}
        .home.subpage{
            margin: 1cm; padding: 1cm;
            height: 149mm;
            border:0.2cm double #fff;
        }
        .home.subpage .data{
            padding: 1.2cm;
            background-color: rgba(255, 255, 255, 0.7);
            width: 100%; height: 100%; text-align: center;
        }

    </style>
</head>
<body>
    <div class="album {% if baby.is_women %}women{% else %}men{% endif %}">
        <div class="page">
            <div class="subpage home">
                <div class="data">
                    <div class="neucha" style="font-size: 1cm; color: #7c7c7c">{{ baby.birth_date|date('d E Y') }} года</div>
                    <div class="neucha" style="font-size: 1cm; color: #7c7c7c">наконец {% if baby.is_women %}родилась{% else %}родился{% endif %}</div>
                    <div class="neucha" style="font-size: 1cm; color: #7c7c7c">наш{% if baby.is_women %}а{% endif %}</div>
                    <div class="neucha color" style="font-size: 3cm;">{{ baby.first_name }}</div>
                    <div class="neucha" style="font-size: 1cm; color: #7c7c7c">и</div>
                    <div class="neucha" style="font-size: 1cm; color: #7c7c7c">это {% if baby.is_women %}её{% else %}его{% endif %}</div>
                    <div class="neucha" style="font-size: 1cm; color: #7c7c7c">Первый Альбом</div>
                </div>
            </div>
        </div>

        {% for h in baby_history %}
            {% if h.page_list %}
                <div class="page">
                    <div class="subpage">
                        <div class="month"><b>{% if h.delta.years or h.delta.months %}{{ h.text }}{% else %}Первые дни{% endif %}</b></div>
                    </div>
                    <div class="page-num-center">{{ view.page_num }}</div>
                    {{ view.page_num_add() }}
                </div>
                {% for page in h.page_list %}
                    <div class="page">
                        <div class="subpage">
                        {% for element in page %}
                            {% if element.object.is_photo %}
                                <div class="photo-wrap {{ element.css_class_pos }}" style="background-image:url('{{ element.object.url }}'); background-size: cover; background-position: center center;"></div>
                                {% if element.object.date or element.object.title %}
                                    <div class="title {{ element.css_class_pos }}">
                                        <div>{{ element.object.date|date(('d E Y')) }}</div>
                                        {{ element.object.title }}
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if element.object.is_text %}
                                <div class="text {{ element.css_class_pos }}">
                                    {% if element.object.month == None %}<div class="date">{{ element.object.date_vk|date('d E Y') }}</div>{% endif %}
                                    {{ element.object.text|linebreaksbr }}
                                </div>
                            {% endif %}
                            {% if element.object.height %}
                                <div class="height {{ element.css_class_pos }}">
                                    <div class="height-icon"><i class="icon-chart-bar-1"></i></div>
                                    <div style="display: inline-block; text-align: center">
                                        <div class="height-date">{{ element.object.date|date('d E Y') }}</div>
                                        <div class="height-value">{{ element.object.height_str }}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if element.object.weight %}
                                <div class="weight {{ element.css_class_pos }}">
                                    <div class="weight-icon"><i class="icon-chart-bar-1"></i></div>
                                    <div style="display: inline-block; text-align: center">
                                        <div class="weight-date">{{ element.object.date|date('d E Y') }}</div>
                                        <div class="weight-value">{{ element.object.weight_str }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        </div>
                        <div class="page-num-center">{{ view.page_num }}</div>
                        {{ view.page_num_add() }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </div>
</body>
</html>