<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Альбом младенца. Бот</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Neucha|Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
    <script type="text/javascript">VK.init({apiId: {{ VK_APP_ID }} });</script>

    <style>
        body{
            background-image: url("/static/img/index_bg.jpg");
            background-size: cover;
        }
        .vk_auth_wrapper{margin: 50px auto; width: 500px;}
        .font{font-family: 'Caveat'}
        .btn{
            transition: background-color 0.5s;
            text-align: center; display: inline-block;
            background-color: #8acef5; color: #e4eff3;
            font-family: 'Caveat'; border-radius: 3px;
            font-size: 40px;
            padding: 10px 30px; cursor: pointer; text-decoration: none
        }
        .btn:hover{background-color: #7bb7da;}
    </style>
</head>
<body style="overflow: hidden">
<div class="bounceInDown animated">
    <h1 class="color1 font" style="text-align: center; font-size: 70px; margin: 150px 0px 20px 0px">Первый Альбом Младенца</h1>
    <h1 class="color1 font" style="text-align: center; font-size: 50px; margin: 0px 0px 50px 0px ">Да, поможет вам БОТ</h1>
</div>
    <div class="bounceInUp animated" style="text-align: center">
        <a class="btn" target="_blank" href="https://vk.com/ibabybot">Подробнее</a>
    </div>

    <!-- VK Widget -->
    <div class="vk_auth_wrapper">
        <div id="vk_auth"></div>
    </div>
    <script type="text/javascript">
      VK.Widgets.Auth("vk_auth", {"width":500, authUrl: "{{ url('vk_auth') }}"});
    </script>
</body>
</html>