{% extends 'bot/albums/_base_album_landscape.jinja2' %}

{% block css %}
    <style>
        .page{
            background-image: url("/static/img/albums/2/bg.jpg");
            background-position: right;
            background-size: cover;
        }
        .page:nth-child(2n){background-position: bottom}
        .page-num-center{
            color:#fff; font-weight: bold; font-size: 0.6cm;text-shadow: 0px 0px 2px #333;
        }
        .photo-wrap{
            overflow: hidden;
            border: 0.5cm dashed #fef8ea; border-radius: 0.5cm;
        }
        .text{
            font-family: 'Caveat', cursive; font-size: 0.7cm; color: #000;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 0.5cm; border-radius: 0.5cm; max-width: 12cm;
        }
        .title{
            font-family: 'Caveat', cursive; font-size: 0.7cm; color: #000;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 0.2cm; border-radius: 0.5cm; max-width: 6cm;
        }

        .text.pos-left-bottom{border-radius: 0.5cm 0.5cm 0.5cm 0cm}
        .text.pos-left-top{border-radius: 0cm 0.5cm 0.5cm 0.5cm}
        .text.pos-right-top{border-radius: 0.5cm 0cm 0.5cm 0.5cm}
        .text.pos-right-bottom{border-radius: 0.5cm 0.5cm 0cm 0.5cm}

        .text.pos-left-bottom .date{position: absolute; font-size: 0.5cm; left: 0.5cm; bottom: -0.8cm; }
        .text.pos-left-top .date{position: absolute; font-size: 0.5cm; left: 0.5cm; top: -0.8cm; }
        .text.pos-right-top .date{position: absolute; font-size: 0.5cm; right: 0.5cm; top: -0.8cm; }
        .text.pos-right-bottom .date{position: absolute; font-size: 0.5cm; right: 0.5cm; bottom: -0.8cm; }

        .title.pos-left-bottom{position: absolute; font-size: 0.5cm; left: 9cm; bottom: 8.5cm; border-radius: 0.5cm 0.5cm 0.5cm 0cm; }
        .title.pos-left-top{position: absolute; font-size: 0.5cm; left: 9.5cm; top: 1.5cm;  border-radius: 0.5cm 0.5cm 0.5cm 0cm;}
        .title.pos-right-top{position: absolute; font-size: 0.5cm; right: 10.5cm; top: 5cm;  border-radius: 0.5cm 0cm 0.5cm 0.5cm; }
        .title.pos-right-bottom{position: absolute; font-size: 0.5cm; right: 10.5cm; bottom: 5cm; border-radius: 0.5cm 0.5cm 0cm 0.5cm;}

        .text p{margin: 0px;}
        .month{
            font-family: 'Neucha', cursive; font-size: 4.5cm; letter-spacing: 0.2cm;
            text-align: center; padding-top: 5cm;
        }
        .women .month, .women .height .height-icon, .women .weight .weight-icon, .women .color{color: #ff8570;}
        .men .month, .men .height .height-icon, .men .weight .weight-icon, .men .color{color: #5ec7ca;}
        .women .home.subpage{border:1cm dashed #ff8570;}
        .men .home.subpage{border:1cm dashed #5ec7ca;}

        .month b {background: rgba(255, 255, 255, 0.9); padding: 0.5cm; border: 0.2cm dashed}
        .height, .weight{background-color: rgba(255, 255, 255, 0.9); padding: 0.5cm; border: 0.5cm dashed #fef8ea;}

        .caveat{font-family: 'Caveat', cursive;}
        .neucha{font-family: 'Neucha', cursive;}
        .home.subpage{
            margin: 1cm; padding: 0cm;
            height: 149mm;
        }
        .home.subpage .data{
            padding: 1.2cm;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%; height: 100%; text-align: center;
        }

    </style>
{% endblock %}