{% extends 'bot/albums/_base_album_landscape.jinja2' %}

{% block css %}
    <style>
        .page{
            background-image: url("/static/img/albums/4/bg.jpg");
            background-position: right;
            background-size: cover;
            outline: 0.5cm solid rgba(255, 255, 255, 0.6);
            outline-offset: -0.5cm;
        }
        .page:nth-child(2n){background-position: bottom}
        .page-num-center{
            color:#fff; font-weight: bold; font-size: 0.6cm;text-shadow: 0px 0px 2px #333;
        }
        .photo-wrap{
            overflow: hidden;
            border-radius: 2cm; border: 0.5cm solid rgba(255, 255, 255, 0.9);

        }
        .text{
            font-family: 'Comfortaa', cursive; font-size: 0.45cm; color: #000; line-height: 0.7cm;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 0.5cm; border-radius: 0.5cm; max-width: 12cm;
        }
        .title{
            font-family: 'Comfortaa', cursive; font-size: 0.35cm; color: #000;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 0.4cm; border-radius: 0.5cm; max-width: 6cm;
        }

        .text.pos-left-bottom{border-radius: 0.5cm 0.5cm 0.5cm 0cm}
        .text.pos-left-top{border-radius: 0cm 0.5cm 0.5cm 0.5cm}
        .text.pos-right-top{border-radius: 0.5cm 0cm 0.5cm 0.5cm}
        .text.pos-right-bottom{border-radius: 0.5cm 0.5cm 0cm 0.5cm}


        .text .date{font-size: 0.4cm}

        .text.pos-left-bottom .date{position: absolute; left: 0.5cm; bottom: -0.8cm; }
        .text.pos-left-top .date{position: absolute; left: 0.5cm; top: -0.8cm; }
        .text.pos-right-top .date{position: absolute; right: 0.5cm; top: -0.8cm; }
        .text.pos-right-bottom .date{position: absolute; right: 0.5cm; bottom: -0.8cm; }


        .title.pos-left-bottom{position: absolute; left: 9cm; bottom: 8.5cm; border-radius: 0.5cm 0.5cm 0.5cm 0cm; }
        .title.pos-left-top{position: absolute; left: 9.5cm; top: 1.5cm;  border-radius: 0.5cm 0.5cm 0.5cm 0cm;}
        .title.pos-right-top{position: absolute; right: 10.5cm; top: 5cm;  border-radius: 0.5cm 0cm 0.5cm 0.5cm; }
        .title.pos-right-bottom{position: absolute; right: 10.5cm; bottom: 5cm; border-radius: 0.5cm 0.5cm 0cm 0.5cm;}

        .photo-wrap.pos-left-bottom, .weight.pos-left-bottom, .height.pos-left-bottom{border-bottom-left-radius: 0cm;}
        .photo-wrap.pos-left-top, .weight.pos-left-top, .height.pos-left-top{border-top-left-radius: 0cm;}
        .photo-wrap.pos-right-top, .weight.pos-right-top, .height.pos-right-top{border-top-right-radius: 0cm;}
        .photo-wrap.pos-right-bottom, .weight.pos-right-bottom, .height.pos-right-bottom{border-bottom-right-radius: 0cm;}

        .text p{margin: 0px;}
        .month{
            font-family: 'Comfortaa', cursive; font-size: 2.5cm; letter-spacing: 0.2cm;
            text-align: center; padding-top: 5cm;  transform: rotate(-5deg)
        }
        .month b {
            background-color: rgba(206, 225, 236, 0.9);
            padding: 0.5cm 2cm; border-radius: 3cm; border: 1cm solid #fff;
            color: #fff;
        }

        .women .month, .women .height .height-icon, .women .weight .weight-icon, .women .color{color: #ffd0e0;}
        .men .month, .men .height .height-icon, .men .weight .weight-icon{color: #cee0ec}
        .men .color{color: #fff}
        .women .home.subpage{border: 1cm solid #fff}
        .men .home.subpage{border: 1cm solid #b1cbdc}
        .women .first_name{color: #fff}


        .height, .weight{background-color: rgba(255, 255, 255, 0.9); padding: 0.6cm; border-radius: 1cm; font-family: 'Comfortaa'}
        .height .height-value, .weight .weight-value{font-size: 1cm}
        .height .height-date, .weight .weight-date{font-size: 0.5cm}

        {#.caveat{font-family: 'Caveat', cursive;}#}
        {#.neucha{font-family: 'Neucha', cursive;}#}
        .font{font-family: 'Comfortaa';}
        .home.subpage{
            margin: 1cm; padding: 0cm;
            height: 149mm;
            border-radius: 2cm;
        }
        .home.subpage .data{
            transform: rotate(-5deg);
            padding: 1.2cm;
            {#border: 0.5cm solid #4990d3;#}
            border-radius: 2cm;
            background-color: rgba(206, 225, 236, 0.85);
            width: 100%; height: 100%; text-align: center;
        }

    </style>
{% endblock %}