/* НУМЕРАЦИЯ */
.page-num-center{ position: absolute; left: 50%; bottom: 0.8cm;}
.page-num-left{ position: absolute; left: 3cm; bottom: 0.8cm;}
.page-num-right{ position: absolute; right: 3cm; bottom: 0.8cm;}